In [26]:
str_1 = "a"
print(str_1)
print(type(str_1))
str_2="sdfghjkl"
print(id(str_1))
print(id(str_2))
str_name="Lumen Technologies lts"
print(str_name)
print(len(str_name))
print(str_name.upper())
print(str_name.lower())
print(str_name.title())
# print(dir(str_name))
print(str_name.split("l"))

a
<class 'str'>
139908139166448
139907823686128
Lumen Technologies lts
22
LUMEN TECHNOLOGIES LTS
lumen technologies lts
Lumen Technologies Lts
['Lumen Techno', 'ogies ', 'ts']

In [1]:
age = "30"
name = "XYZ"
txt = "His age is {2}{0}{2} name is {2}{1}{2} ".format(age, name, "\"")
print(txt)

His age is "30" name is "XYZ"

In [1]:
"""
. Given variables x and y, use string formatting to print out the values of x and y and their sum. For example, if
x = 5 and y = 3 your statement should print
5 + 3 = 8.
"""

'\n. Given variables x and y, use string formatting to print out the values of x and y and their sum. For example, if\nx = 5 and y = 3 your statement should print 5 + 3 = 8.\n'

In [2]:
x=5
y=3
result="5 + 3 = 8"
print(result)

5 + 3 = 8

In [4]:
x=5
y=3
result=f"{x} + {y} = {x+y}"
print(result)

5 + 3 = 8

In [6]:
x=5
y=3
sum=x+y
result="%d + %d = %d"%(x,y,sum)
print(result)

5 + 3 = 8

In [9]:
x=5
y=3
sum=x+y
result="{0} + {1} = {2}".format(x,y,sum)
print(result)

5 + 3 = 8

In [13]:
"""
Use escape sequences to write a string which represents the letters a, b and c separated by tabs.
"""

'\nUse escape sequences to write a string which represents the letters a, b and c separated by tabs.\n'

In [14]:
print("a\tb\tc")

a	b	c

In [16]:
"""

What does the following sequence of statements output:
name = "John Smythe"
print(name.lower())
print(name)

"""

'\n\nWhat does the following sequence of statements output:\nname = "John Smythe"\nprint(name.lower())\nprint(name)\n\n'